.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules
__pycache__
*.py~
conf.py
locale
latest_updates.json
.wnf-lang-status
dist/
*.swo
*~
.idea/
.vscode/*
!.vscode/extensions.json
.backportrc.json
.mypy_cache

.env.*
.env
!.env.example
!.env.sample
